.wrapperTable {
  border-collapse: collapse;
}
td {
  padding-right: 20px;
}
.checkBox {
  text-align: center;
}
select {
  width: 100%;
}
.was {
  background: red;
  height: 100px;
}
.be {
  background: blue;
}
p {
  border: 1px solid red;
  width: 500px;
  padding: 5px;
}
